.admin-popup {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  &::after {
    background-color: $color-blue-light;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.4;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;  
  }
}

.admin-form-close {
  cursor: pointer;
  float: right;
  z-index: 1;
}

.admin-form {
  background-color: $color-blue-light;
  border: solid 1px $color-black;
  border-radius: 5px;
  margin: 10% auto;
  opacity: 1;
  padding: 30px;
  text-align: left;
  width: 500px;

  > div {
    padding: 10px 0;
  }
}

.admin-header {
  margin: 0 0 10px;
  text-align: center;
}

.admin-form-input {
  margin-left: 15px;
  width: 317px;
}

#site-name {
  margin-left: 49.667px;
}

#admin-submit-button {
  text-align: center;
}