@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@font-face {
  font-family: 'Oswald-Bold';
  src: local('Oswald-Bold'),
       url(./assets/fonts/Oswald-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Light';
  src: local('Montserrat-Light'),
       url(./assets/fonts/Montserrat-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'CooperHewitt';
  src: local('CooperHewitt'),
       url(./assets/fonts/CooperHewitt-Book.otf) format('otf');
}

$font-header: 'Oswald', sans-serif;
$font-sub-header: 'Montserrat', sans-serif;
$font-body: 'Source Sans Pro', serif;

h1, h2 {
  font-family: $font-header;
}

h3, h4, h5 {
  font-family: $font-sub-header;
}

body, p {
  font-family: $font-body;
  font-size: 16px;
}

button, select, option {
  font-family: $font-sub-header;
  font-size: 14px;
}